@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: #e5e5e5;
}

.wrapper {
  box-sizing: border-box;
  max-width: 660px;
  max-height: 482px;
  margin: auto;
  margin-top: 10%;
  font-size: 0;
}

.wrapper_card {
  box-sizing: border-box;
  width: 200px;
  height: 226px;
  background-color: #e0e0e0;
  display: inline-block;
  font-size: 0;
  position: relative;
}

.wrapper_card-img {
  background-color: #c4c4c4;
  width: 130px;
  height: 130px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
}

.card_img-text {
  position: absolute;
  left: 46px;
  top: 56px;
  color: white;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;

  width: 39px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.card_title {
  position: absolute;
  bottom: 64px;
  width: 200px;
  height: 22px;
  text-align: center;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 22px;
}

.card_description {
  position: absolute;
  bottom: 18px;
  text-align: center;
  margin-top: 10px;
  width: 200px;
  height: 36px;
  font-weight: 400;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
}
